/* Estilos generales*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: whitesmoke;
    font-size: 33px;
}

.clearfix{
    clear: both;
    float: none;
}

/*Cabecera*/
#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
    border-bottom: 1px solid black;
}

#logo{
    width: 63%;
    float: left;
}

#logo h1{
    font-weight: bold;
    font-size: 25px;
    color: rgb(15, 112, 238);
}

#menu{
    width: 380px;
    float: left;
}

#menu ul li{
    list-style: none;
    float: left;
    margin-left: 15x;
    margin-right: 15px;
}

#menu ul li a{
    color: black;
}

#menu ul li a:hover{
    color: rgb(15, 112, 238);
}